main {
  height: calc(100vh - 56px);
}

.hero {
  /* background: url("https://source.unsplash.com/bRojCEo0uow") no-repeat fixed
    center center/cover; */
  background: url("https://source.unsplash.com/bRojCEo0uow") no-repeat fixed
    center center/cover;
  height: 100%;
  color: beige;
  font-size: 4rem;
}

footer {
  background: #df4759;
  /* position: relative; */
  padding: 10px;
  margin-top: 20px;
  bottom: 0;
  width: 100%; 
  text-align: center;
}
